<?xml version="1.0"?>
<!-- /**
  * @author Sachindra Awasthi
  * @copyright Copyright (c) 2023 Tech9logy (https://www.tech9logy.com/)
  * @package Tech9logy_CouponCode
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<tech9logycouponcode>
			<general_settings>
				<show>1</show>
				<allow_redeem>1</allow_redeem>
				<redeem_only_customer>0</redeem_only_customer>
				<route>redeem-coupon</route>
				<track_route>track-coupon</track_route>
				<sender_email_identity>general</sender_email_identity>
				<email_template>couponcode_general_email_template</email_template>
				<allow_log>1</allow_log>
				<allow_track_log>1</allow_track_log>
				<show_on_customer>1</show_on_customer>
			</general_settings>
		</tech9logycouponcode>
	</default>
</config>
