<?xml version="1.0"?>
<!-- /**
  * @author Sachindra Awasthi
  * @copyright Copyright (c) 2023 Tech9logy (https://www.tech9logy.com/)
  * @package Tech9logy_CouponCode
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tech9logy\CouponCode\Api\CouponRepositoryInterface" type="Tech9logy\CouponCode\Model\CouponRepository"/>
    <preference for="Tech9logy\CouponCode\Api\Data\CouponInterface" type="Tech9logy\CouponCode\Model\Coupon"/>
    <preference for="Tech9logy\CouponCode\Api\Data\CouponSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magento\Newsletter\Model\Subscriber" type="Tech9logy\CouponCode\Model\Rewrite\Newsletter\Subscriber"/>
    <preference for="Tech9logy\CouponCode\Api\LogManagementInterface" type="Tech9logy\CouponCode\Model\LogManagement" />
    <preference for="Tech9logy\CouponCode\Api\CouponManagementInterface" type="Tech9logy\CouponCode\Model\CouponManagement" />
    <preference for="Tech9logy\CouponCode\Api\RuleManagementInterface" type="Tech9logy\CouponCode\Model\RuleManagement" />
    <preference for="Tech9logy\CouponCode\Api\RuleRepositoryInterface" type="Tech9logy\CouponCode\Model\RuleRepository" />
    <preference for="Tech9logy\CouponCode\Api\CouponRepositoryInterface" type="Tech9logy\CouponCode\Model\CouponRepository" />

    <preference for="Tech9logy\CouponCode\Api\Data\RuleInterface" type="Tech9logy\CouponCode\Model\Data\Rule" />


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tech9logycouponcode_rule_listing_data_source" xsi:type="string">Tech9logy\CouponCode\Model\ResourceModel\Rule\Grid\Collection</item>
                <item name="tech9logycouponcode_coupon_listing_data_source" xsi:type="string">Tech9logy\CouponCode\Model\ResourceModel\Coupon\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Tech9logy\CouponCode\Model\ResourceModel\Rule\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tech9logy_couponcode_rule</argument>
            <argument name="eventPrefix" xsi:type="string">tech9logycouponcode_rule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">rule_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Tech9logy\CouponCode\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>
     <type name="Tech9logy\CouponCode\Model\ResourceModel\Coupon\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tech9logy_couponcode_coupon</argument>
            <argument name="eventPrefix" xsi:type="string">tech9logycouponcode_coupon_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">coupon_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Tech9logy\CouponCode\Model\ResourceModel\Coupon</argument>
        </arguments>
    </type>
    <type name="Tech9logy\CouponCode\Ui\Component\MassAction\Group\Options">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">couponcode/generate/massGenerate</item>
                <item name="paramName" xsi:type="string">rule</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Generate and Send Coupons</item>
                    <item name="message" xsi:type="string" translatable="true">Are you sure want to generate coupons for selected customers?</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="LogGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="RuleGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CouponGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="CouponCodeRuleGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Tech9logy\CouponCode\Model\ResourceModel\Rule\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">RuleGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="CouponCodeCouponGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Tech9logy\CouponCode\Model\ResourceModel\Rule\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CouponGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>
