<?xml version="1.0"?>
<!-- /**
  * @author Sachindra Awasthi
  * @copyright Copyright (c) 2023 Tech9logy (https://www.tech9logy.com/)
  * @package Tech9logy_CouponCode
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\CouponManagementInterface">
        <plugin name="tech9logy_couponcode_plugin"
                type="Tech9logy\CouponCode\Plugin\CouponManagementPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>

</config>
