<?xml version="1.0"?>
<!-- /**
  * @author Sachindra Awasthi
  * @copyright Copyright (c) 2023 Tech9logy (https://www.tech9logy.com/)
  * @package Tech9logy_CouponCode
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    <tab id="tech9logy" translate="label" sortOrder="10">
            <label>Tech9logy</label>
        </tab>
        <section id="tech9logycouponcode" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tech9logy Coupon Code</label>
            <tab>tech9logy</tab>
            <resource>Tech9logy_CouponCode::config_couponcode</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/disable Coupon Code Extension.</comment>
                </field>


                <!-- <field id="sender_email_identity" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Email Id</label>
                    <comment>Enter sender email address.</comment>
                    <depends>
                            <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="enable_shortcode" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Coupon Code Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
			            <field id="*/*/enable">1</field>
                    </depends>
                </field> -->
            <!--    <field id="coupon_code_off" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Dicount % </label>
                    <comment>Enter Off %.</comment>
                    <depends>
                            <field id="*/*/enable">1</field>
                    </depends>
                </field>-->
                <!-- <field id="coupon_code_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Cart Price Rule Id</label>
                <depends>
			            <field id="*/*/enable">1</field>
                        <field id="*/*/enable_shortcode">1</field>
                    </depends>
                </field>
                <field id="thank_you_description" translate="label" sortOrder="20" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome Page Description</label>
                    <comment>Enter the description for the Welcome page.</comment>
                    <depends>
                        <field id="tech9logycouponcode/general_settings/enable">1</field>
                        <field id="tech9logycouponcode/general_settings/enable_shortcode">1</field>
                    </depends>
                </field> -->
            </group>
            <!-- <group id="sendgrid_credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sendgrid Credentials</label>
                <field id="enable_sendgrid" translate="label comment" sortOrder="0" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sendgrid Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/disable Sendgrid integration to store autogenerated code in sendgrid list.</comment>
                </field>
                <field id="sendgrid_list_id" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sendgrid List ID</label>
                    <comment>Enter Sendgrid list ID.</comment>
                    <depends>
                        <field id="tech9logycouponcode/sendgrid_credentials/enable_sendgrid">1</field>
                    </depends>
                </field>
                <field id="sendgrid_api_key" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sendgrid API Key</label>
                    <comment>Enter Sendgrid API Key.</comment>
                    <depends>
                        <field id="tech9logycouponcode/sendgrid_credentials/enable_sendgrid">1</field>
                    </depends>
                </field>
                <depends>
                        <field id="tech9logycouponcode/general_settings/enable">1</field>
                </depends>
            </group> -->
        </section>
    </system>
</config>